




/* BLACK THEME */


/* background Image */

.splash-background_FoundationAnimation18 {
    background-color: #FFF;
    background-image: url(https://sephora.csod.com/clientimg/sephora/welcome/Foundatioln_Animation_Splash_Background_V5.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: 100% auto;
    text-align: center;
    position: relative;
}
/*Tablet Horz (for example, work Dell laptop screen and Surface Pro */
@media (max-width: 1368px) {
}
/* Tablet Vert / Phone Horz*/
@media (max-width: 912px) {
 .splash-background_FoundationAnimation18  {
  padding: 0px 20px;
  background-image: url(https://sephora.csod.com/clientimg/sephora/welcome/Foundatioln_Animation_Splash_Background_V5.jpg);
 }
}
/* Phone Vert */
@media (max-width: 528px) { 
 .splash-background_FoundationAnimation18 {
  padding: 0px 20px;
  background-image: url(https://sephora.csod.com/clientimg/sephora/welcome/Foundatioln_Animation_Splash_Background_V5.jpg);
 }
}


/* Slider arrows */

.left_BLACK {
    background: #000;
    color: #fff;
    font-size: 22px;
    padding: 5px;
}
.right_BLACK{
    background: #000;
    color: #fff;
    font-size: 22px;
    padding: 5px;
}
h3.MSL-Welcome-Name_BLACK {
    font-weight: bold;
    padding: 10px 15px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #00000052;
}

/* HELP WIDGET */

#help-widget_BLACK {
    width: 100px;
    display: inline-block;
    background: #FFF;
}

.help-widgetOpen_BLACK {
  width: 300px !important;
  background: white;
  border: 1px #d8d8d8 solid;
  box-shadow: 0px 2px 9px 0px rgba(150, 150, 150, 0.45);
  max-width: 100%;
}

.help-content_BLACK {
  width: 300px;
}

a#gethelp_BLACK {
    display: inline-block;
    /* box-shadow: 0px 2px 9px 0px rgba(150, 150, 150, 0.45); */
    width: 100px;
    text-align: center;
    padding: 10px 15px;
    /* background: #FFF; */
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 2px #00000052;
}

.gethelpOpen_BLACK {
    background-color: #000000 !important;
    display: block !important;
    width: 100% !important;
    color: #FFF !important;
}

p.close-help-me_BLACK {
    text-align: center;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    padding: 10px;
}

.white-button_BLACK {
    /* background: #FFF; */
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    position: relative;
    min-width: 100px;
    text-shadow: 2px 2px 2px #00000052;
    vertical-align: top;
    font-weight: bold;
}
