@charset "utf-8";
/* JULY 2018 CAREERFEST CSS Document */

/* BUTTON STATES */
.ACTIVE {
	opacity: 1.0;	
}
.PASSIVE {
	opacity:.45;	
}
/* GALLERY OF CARDS */
.class-card {
    padding: 10px 30px 0px 33px;
    border: 1px #ececec solid;
    border-radius: 5px;
    width: 30%;
    margin: 15px;
    float: left;
    height: 670px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.04);
		position: relative;
}
.pick-time {
    border: 1px red solid;
    position: absolute;
    bottom: 0px;
    width: 80%;
}
.disclaimer {
    font-size: 12px !important;
    font-style: italic;
}
.class-card h1 {
    font-weight:bold;
}
.class-card p, .class-card ul {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .3;
}
.class-card ul li {
    margin: 9px 0px 0px 15px;
    color: #6f7179;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .3;
}
.day-menu p {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}
a.black-button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
}
a.gray-button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0px 15px 0px;
    background: #e2e2e2;
    color: #949494;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
}
a.tour-careefest {
    background: #ffffff;
    padding: 10px 20px;
    position: absolute;
    color: #000;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 2px #0000000f;
    right: 0px;
}
div#noResults p {
        text-align: center;
        padding: 30px 0px 60px 0px;
    }


/* Desktop */
body {
	border: 0px red solid !important;
}
	
	
/* Surface Pro Horizontal */
@media (max-width: 1368px) {
	body {
		border: 0px orange solid !important;
	}
	.class-card {
		height: 670px;
	}
}


/* Surface Pro Vertical View */
@media (max-width: 912px) { 
	body {
		border: 0px green solid !important;
	}
	.class-card {
	    padding: 30px;
	    border: 1px #ececec solid;
	    border-radius: 5px;
	    width: 40%;
	    margin: 15px;
	    float: left;
	    height: 680px !important;
	    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.09);
	}


}


/* iPhone Vertical */
@media (max-width: 528px) { 
	body {
		border: 0px blue solid !important;
	}
	.class-card {
	    width: 90% !important;
	    margin: 10px !important;
	}
}



