@charset "utf-8";
/* CSS Document */



a {
	text-decoration: none !important;
}
a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
}


.widgetDropped {
	margin: -20px 0px 0px 0px !important;
}

.popover {
	max-width: 300px !important;
	width: 300px !important;
}

div#mainContainer {
	padding: 0px !important;
}

div#ctl00_footer_pnlCustomFooter {
	display: none !important;
}

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	text-align:left;
}

#MSL-initialize-tour, a {
	cursor:pointer !important; 
}