@charset "utf-8";
/* Foundational CSS */

*{
 padding:0px;
 margin:0px;
}
p, a, .base {
    font-size: 13px;
    line-height: 17.5px;
    color: #6f7175;
    font-family: Sephora Sans, Helvetica, Arial;
    text-align: left;
    text-decoration: none !important;
}
img {max-width:100%;}
.h00 {font-size:44px;}
.h0 {font-size:32px;}	
h1 {font-size:24px;}
h2 {font-size:18px;}
h3 {font-size:16px;}
h4 {font-size:14px;}
h5 {font-size:12px;}
h6 {font-size:11px;}

.padding7 {
        padding:7%;
    }
    .padding8 {
        padding:8%;
    }
    .padding9 {
        padding:9%;
    }
    .padding10 {
        padding:10%;
    }
    .padding11 {
        padding:11%;
    }
    .padding12 {
        padding:12%;
    }
    .padding13 {
        padding:13%;
    }
    .padding14 {
        padding:14%;
    }
    .padding15 {
        padding:15%;
    }


.text-uppercase {text-transform: uppercase;}
.text-serif {font-family: Georgia, Times, "Times New Roman", serif;}
.text-light {font-weight: lighter;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-white {color: #FFF;}
.text-shadow {text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);}

.spacer-1 {
	height: 4px !important;
	display: block;
}
.spacer-2 {
	height: 8px !important;
	display: block;
}
.spacer-3 {
	height: 12px !important;
	display: block;
}
.spacer-4 {
	height: 16px !important;
	display: block;
}
.spacer-5 {
	height: 24px !important;
	display: block;
}
.spacer-6 {
	height: 32px !important;
	display: block;
}
.spacer-7 {
	height: 48px !important;
	display: block;
}

a.primary-button {
    background: #fff;
    text-decoration: none;
    padding: 8px 12px 8px 12px;
    text-transform: uppercase;
    margin: 5px;
    display: inline-block;
    box-shadow: 0px 2px 9px 0px rgba(150, 150, 150, 0.45);
}

.white-button-FULL-width {
    display: block;
    width:100%;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-decoration: none;
    text-decoration: none;
    vertical-align: middle;
    color: inherit;
    background-color: #fff;
    border-width: 1px;
    border-color: transparent;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-transition: box-shadow .15s ease-in-out;
    transition: box-shadow .15s ease-in-out;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    margin: 0px 0px 10px 0px;
}
.white-button {
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-decoration: none;
    text-decoration: none;
    vertical-align: middle;
    color: inherit;
    background-color: #fff;
    border-width: 1px;
    border-color: transparent;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-transition: box-shadow .15s ease-in-out;
    transition: box-shadow .15s ease-in-out;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
	margin: 0px 0px 10px 0px;
}

.additional-resources-heading {
    width: 600px;
    max-width: 100%;
    margin: auto auto;
    display: block;
    padding: 30px 0px;
}

.MSL-Section-Footer {
	text-align: center;
}

.footer-Logo {
	width: 200px;
	display: inline-block;
	padding: 10px;
}

p.footer-p {
	display: inline-block;
	border-left: 1px #00000030 solid;
	padding: 10px;
}


