.MSL-Headine-Desktop {
  margin: 0px auto 0px auto;
  width: 450px;
  max-width: 80%;
  display: inline;
}

h2.MSL-date-range {
    margin-bottom: 0px !important;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px !important;
    display: inline;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    color: #55804b;
    /* text-shadow: 2px 2px 2px #00000038; */
}
h2.MSL-date-range_GREEN {
    margin-bottom: 0px !important;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px !important;
    display: inline;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    color: #55804b;
    /* text-shadow: 2px 2px 2px #00000038; */
}
h2.MSL-date-range_BLACK {
    margin-bottom: 0px !important;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px !important;
    display: inline;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    /* text-shadow: 2px 2px 2px #00000038; */
}
.MSL-Headline-Grabbers {
	position: relative;
	display: block;
	padding-top: 80px;
}

/**** TABLET HORIZONTAL: BREAKPOINT ********/

@media (max-width: 1368px) {

	h2.MSL-date-range,h2.MSL-date-range_GREEN,h2.MSL-date-range_BLACK  {
		margin-top: 0px !important;
	}

}

/**** TABLET VERTICAL && PHONE HORIZONTAL: BREAKPOINT ********/

@media (max-width: 912px) { 

	.MSL-Headine-Desktop {
		display: block;
		padding: 30px 0px 10px 0px;
		width: 60%;
	}
	h2.MSL-date-range,h2.MSL-date-range_GREEN,h2.MSL-date-range_BLACK {
		display: block;
		text-align: center;
		padding-bottom: 30px !important;
	}

}

/**** PHONE VERTICAL: BREAKPOINT *****/
@media (max-width: 528px) { 

}

