.MSL-Number-Icon {
    width: 60px;
    z-index: 2;
    position: absolute;
    top: -20px;
    left: -20px;
}
.MSL-Daily-Dose-Column {
    width: 20%;
    max-width: 350px;
    display: inline-block;
    position: relative;
    margin: 10px 10px 30px 10px;
    vertical-align: top;
    text-align: -webkit-auto;
    background: #FFF;
    padding: 17px;
    /* box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.08); */
    min-height: 480px;
    border: 1px #dcd6d6 solid;
    border-radius: 5px;
}
.MSL-Ad-Column {
    width: 20%;
    max-width: 350px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
.MSL-Half-Column {
 width: 20%;
 max-width: 350px;
 display: inline-block;
 margin: 10px;
 vertical-align: top;
}
.MSL-Thumb-Image {
    width: 100%;
    border-radius: 5px;
}
.MSL-Thumb-Information {
 padding:10px;
 overflow: auto;
} 
.MSL-LOType {
 float:left;
 display: inline-block;
}
.MSL-LODuration {
 float:right;
 display: inline-block;
}
p.MSL-Description {
    font-weight: normal;
    color: #8a8a8a;
}
p.MSL-LOType, p.MSL-LODuration {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #55804b;
}
.MSL-Headline-Grabbers {
	position: relative;
	display: block;
	padding-top: 80px;
}
.MSL-LOTitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #55804b;
    /* font-family: Georgia, serif; */
    line-height: 17px;
    letter-spacing: .3;
    font-size: 16px;
}


/********** TABLET HORIZONTAL: BREAKPOINT ************/

@media (max-width: 1368px) {

}




/********** TABLET VERTICAL && PHONE HORIZONTAL: BREAKPOINT ************/

@media (max-width: 912px) { 
 .MSL-Daily-Dose-Column {
  width: 80%;
 }
 .MSL-Ad-Column {
  width: 80%;
 }
 MSL-Half-Column {
  width: 80%;
 }

}



/********** PHONE VERTICAL: BREAKPOINT ************/

@media (max-width: 528px) { 

}

