.MSL-Number-Icon {
    width: 60px;
    z-index: 2;
    position: absolute;
    top: -20px;
    left: -20px;
}
.MSL-Daily-Dose-slider-Column {
    width: 20%;
    max-width: 350px;
    display: inline-block;
    position: relative;
    margin: 10px 10px 30px 10px;
    vertical-align: top;
    text-align: -webkit-auto;
}
.MSL-Daily-Dose-Column {
    width: 20%;
    max-width: 350px;
    display: inline-block;
    position: relative;
    margin: 10px 10px 30px 10px;
    vertical-align: top;
    text-align: -webkit-auto;
    background: #FFF;
    padding: 17px;
    min-height: 390px;
    border: 1px #dcd6d6 solid;
    border-radius: 5px;
}
.MSL-Daily-Dose-Column-4UP {
    width: 20%;
    max-width: 350px;
    display: inline-block;
    position: relative;
    margin: 10px 10px 30px 10px;
    vertical-align: top;
    text-align: -webkit-auto;
    background: #FFF;
    padding: 17px;
    min-height: 390px;
    border: 1px #dcd6d6 solid;
    border-radius: 5px;
}
.MSL-Daily-Dose-Column-3UP {
    width: 29%;
    max-width: 350px;
    display: inline-block;
    position: relative;
    margin: 10px 10px 30px 10px;
    vertical-align: top;
    text-align: -webkit-auto;
    background: #FFF;
    padding: 17px;
    min-height: 390px;
    border: 1px #dcd6d6 solid;
    border-radius: 5px;
}
.MSL-Daily-Dose-Column-3UP_SHORT {
    width: 29%;
    max-width: 350px;
    display: inline-block;
    position: relative;
    margin: 10px 10px 30px 10px;
    vertical-align: top;
    text-align: -webkit-auto;
    background: #FFF;
    padding: 17px;
    min-height: 220px;
    border: 1px #dcd6d6 solid;
    border-radius: 5px;
}
.MSL-Daily-Dose-Column-2UP_SHORT {
    width: 44%;
    max-width: 350px;
    display: inline-block;
    position: relative;
    margin: 10px 10px 30px 10px;
    vertical-align: top;
    text-align: -webkit-auto;
    background: #FFF;
    padding: 17px;
    min-height: 0px;
    border: 1px #dcd6d6 solid;
    border-radius: 5px;
}
.MSL-Daily-Dose-Column-1UP_SHORT {
    width: 100%;
    background: #FFF;
    padding: 17px;
    min-height: 220px;
    border: 1px #dcd6d6 solid;
    border-radius: 5px;
}
.MSL-Daily-Dose-Column-1UP {
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: -webkit-auto;
    background: #FFF;
    padding: 17px;
    min-height: 390px;
    border: 1px #dcd6d6 solid;
    border-radius: 5px;
}
.MSL-Ad-Column {
    width: 20%;
    max-width: 350px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
.MSL-Half-Column {
	 width: 20%;
	 max-width: 350px;
	 display: inline-block;
	 margin: 10px;
	 vertical-align: top;
}
.MSL-Thumb-Image {
    width: 100%;
    border-radius: 5px;
}
.MSL-Thumb-Information {
	padding:10px;
	overflow: auto;
} 
.LO-type-duration-WRAPPER {
	position: absolute;
	bottom: 10px;
	width: 80%;
	display: block;
	margin: 0px 0px 0px -10px;
}
.MSL-LOType {
 float:left;
 display: inline-block;
}
.MSL-LODuration {
 float:right;
 display: inline-block;
}
p.MSL-Description {
	font-weight: normal;
	color: #8a8a8a;
}
p.MSL-LOType, p.MSL-LODuration {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4a4a4a;
}
.MSL-Headline-Grabbers {
	position: relative;
	display: block;
	padding-top: 80px;
}
.MSL-LOTitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #4a4a4a;
    line-height: 16px;
    /* letter-spacing: .3; */
    font-size: 15px;
}


/********** TABLET HORIZONTAL: BREAKPOINT ************/

@media (max-width: 1368px) {

}




/********** TABLET VERTICAL && PHONE HORIZONTAL: BREAKPOINT ************/

@media (max-width: 912px) { 
 .MSL-Daily-Dose-Column {
  width: 80%;
 }
 .MSL-Ad-Column {
  width: 80%;
 }
 .MSL-Half-Column {
  width: 80%;
 }
.MSL-Daily-Dose-slider-Column {
	width: 80%;
}
}



/********** PHONE VERTICAL: BREAKPOINT ************/

@media (max-width: 528px) { 
.MSL-Daily-Dose-Column-3UP {
  width: 80%;
 }
	
.MSL-Daily-Dose-Column-3UP_SHORT {
  width: 80%;
 }
	
.MSL-Daily-Dose-Column-2UP_SHORT{
  width: 80%;
 }
	
	
}

