a.closeThis1,a.closeThis2 {
  color: #FFFFFF;text-decoration: none;
}

#MSL-Kontiki-Message-1 { background: #58150d; color: #fff; padding: 7px 14px; width: 100%; text-align: center; }

#red-top-text-banner { background: #58150d; color: #fff; padding: 7px 14px; width: 100%; text-align: center; }

#green-top-text-banner {
    background: #55804b;
    color: #fff;
    padding: 7px 14px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    letter-spacing: .5px;
}


#MSL-Kontiki-Message-2 {
    background: #909090;
    color: #FFF;
    padding: 7px 14px;
    width: 100%;
    text-align: center;
}
