@charset "utf-8";
/* CSS Document */

#survey-link {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 9999;
	vertical-align: bottom;
	float: inherit;
	top: inherit;
	color: #FFFFFF;
	background:#000000;
	padding: 10px;
}

/* Feedback Link Styling */
.red_arrow {
	color: red;
	font-weight:bold;
}

#mothers-day-survey-link {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    vertical-align: bottom;
    float: inherit;
    top: inherit;
    color: #FFFFFF;
    background: #fbbaae;
    padding: 10px;
    text-shadow: 1px 1px 1px #00000045;
}
.mDay_arrow {
	color: #887a01;
	font-weight:bold;
}

/***********  SURVEY BUBBLE // SHAKER *************/

.survey-shaker {
    width: 180px;
    margin: -60px 0px 0px 0px;
    position: absolute;
}

  /* Tablet Horizontal */
  @media (max-width: 1368px) {
  }
  
  /* Tablet Vertical  */
  @media (max-width: 912px) {
	  .survey-shaker {
	   width: 140px !important;
	   top: 40px !important;
	   right: 0px !important;
	   margin:0px !important;
	  }
  }
