
body {border:3px red solid;}

/********** TABLET HORIZONTAL: BREAKPOINT ************/

@media (max-width: 1368px) {
 body { border:3px purple solid;}
}


/********** TABLET VERTICAL && PHONE HORIZONTAL: BREAKPOINT ************/

@media (max-width: 912px) { 
  body {border:3px green solid;}
}


/********** PHONE VERTICAL: BREAKPOINT ************/

@media (max-width: 528px) { 
 body {border:3px orange solid;}
}
