.MSL-Top-Left {
  position: absolute;
  left: 25px;
  top: 25px;
  text-align: left;
}

.MSL-Top-Right {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: right;
  z-index: 1000;
}

h3.MSL-Welcome-Name {
  font-weight: bold;
  padding: 10px 15px;
  color: #5c8552;
  background: #FFF;
  box-shadow: 2px 2px 2px #00000052;
}

#MSL-initialize-tour, a {
    cursor: pointer !important;
}

/* GET HELP BUTTON */


#help-widget {
    width: 100px;
    display: inline-block;
    background: #FFF;
}

.help-widgetOpen {
  width: 300px !important;
  background: white;
  border: 1px #d8d8d8 solid;
  box-shadow: 0px 2px 9px 0px rgba(150, 150, 150, 0.45);
  max-width: 100%;
}

.help-content {
  width: 300px;
}

a#gethelp {
    display: inline-block;
    box-shadow: 0px 2px 9px 0px rgba(150, 150, 150, 0.45);
    width: 100px;
    text-align: center;
    padding: 10px 15px;
    background: #FFF;
    color: #5c8552;
    font-weight: bold;
}

.gethelpOpen {
    background-color: #55804b !important;
    display: block !important;
    width: 100% !important;
    color: #FFF !important;
}

p.close-help-me {
    text-align: center;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    padding: 10px;
}


