
.MSL-Top-Left {
  position: absolute;
  left: 25px;
  top: 25px;
  text-align: left;
}

.MSL-Top-Right {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: right;
  z-index: 1000;
}

h3.MSL-Welcome-Name {
  font-weight: bold;
  padding: 10px 15px;
  color: #5c8552;
  background: #FFF;
  box-shadow: 2px 2px 2px #00000052;
}
