/*
* === BODY ===
*/
body {
 background-color: #FFFFFF !important;   
}



/*
* === SPLASH HERO ===
*/
.splash-background_FirstatColor {
    position: relative;
    text-align: center;
    background-color: #4a4d56;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#eaebe5),to(#4a4d56));
    background-image: -webkit-linear-gradient(top,#eaebe5 0,#4a4d56 100%);
    background-image: -o-linear-gradient(top,#eaebe5 0,#4a4d56 100%);
    background-image: linear-gradient(to bottom,#eaebe5 0,#4a4d56 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaebe5', endColorstr='#4a4d56', GradientType=0);
    background-repeat: repeat-x;
}


/*
* === HEADINGS ===
*/
h2.MSL-date-range_RED {
    text-align: center;
    background: #cf1f2e;
    width: 300px;
    margin: -20px auto auto auto !important;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
h3.MSL-Welcome-Name_RED {
    background: #cf1f2e;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}


/*
* === LEADERSHIP BANNER ===
*/
.leadership_bg {
    background-color: #1818188a;
    background-size: 100% auto;
    text-align: center;
    position: relative;
}
.leadership_bg p {
    font-size: 18px;
    line-height:24px;
    margin: 0px 90px 0px 20px;
    color:#FFF;
}


/*
* === SLIDER ARROWS ===
*/
.left_BLACK {
    background: #000;
    color: #fff;
    font-size: 22px;
    padding: 5px;
}
.right_BLACK{
    background: #000;
    color: #fff;
    font-size: 22px;
    padding: 5px;
}


/*
* === FSC HELP WIDGET ===
*/
#help-widget_RED {
    width: 100px;
    display: inline-block;
}
.help-widgetOpen_RED {
  width: 300px !important;
  background: white;
  border: 1px #d8d8d8 solid;
  box-shadow: 0px 2px 9px 0px rgba(150, 150, 150, 0.45);
  max-width: 100%;
}
.help-content_RED {
  width: 300px;
}
a#gethelp_RED {
    display: inline-block;
    background: #cf1f2e;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
.gethelpOpen_RED {
    background-color: #000000 !important;
    display: block !important;
    width: 100% !important;
    color: #FFF !important;
}
p.close-help-me_RED {
    text-align: center;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    padding: 10px;
}


/*
* === BUTTONS ===
*/
a.red-button {
    background: #cf1f2e;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
